<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mediaplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
<!--    <uses-permission android:name="android.permission.RESTART_PACKAGES" />-->

<!--    Scoped mode 사용: requestLegacyExternalStorage="true"-->
    <application
        android:name="com.example.mediaplayer.MusicApplication"
        android:allowBackup="true"
        android:icon="@drawable/play_box_multiple"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/play_box_multiple"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q"
        android:fullBackupContent="@xml/backup_descriptor">
        <receiver
            android:name="com.example.mediaplayer.CaptureWidgetTest"
            android:label="Capture Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="BUTTON1" />
                <action android:name="BUTTON3" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/capture_widget_info" />
        </receiver>
        <activity
            android:name="com.example.mediaplayer.CaptureWidgetConfigure"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.example.mediaplayer.CaptureWidgetProvider"
            android:label="4x1 Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="PREPARED" />
                <action android:name="PLAY_STATE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_4x1" />
        </receiver>

        <activity android:name="com.example.mediaplayer.CaptureWidgetTestConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.mediaplayer.VideoPlayerActivity" />
        <activity
            android:name="com.example.mediaplayer.CameraActivity"
            android:label="@string/title_activity_camera_photo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.mediaplayer.MusicPlayerActivity" />
        <activity android:name="com.example.mediaplayer.CameraActionActivity" />
        <activity android:name="com.example.mediaplayer.AudioRecordActivity" />
        <activity android:name="com.example.mediaplayer.PhotoGalleryActivity" />
        <activity android:name="com.example.mediaplayer.PhotoViewActivity" />
<!--        <activity android:name=".PhotosActivity" />-->
<!--        PhotoFragment, PhotoViewFragment와 같이 사용되지 않음 -->

        <activity android:name="com.example.mediaplayer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.mediaplayer.services.MusicService"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="REWIND" />
                <action android:name="TOGGLE_PLAY" />
                <action android:name="FORWARD" />
                <action android:name="CLOSE" />
            </intent-filter>
        </service> <!-- service 사용시 필요 -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mediaplayer"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>

    <!--   android:name=".MusicApplication"   MusicServiceInterface 생성을 위하여-->

    <!--        <provider-->
    <!--            android:name=".MyProvider"-->
    <!--            android:authorities="com.example.provider.capture"-->
    <!--            android:exported="false" />-->

<!---->